header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.126);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
      .header-left {
        display: flex;
        align-items: center;
        gap: 1.7rem;
          img {
              width: 4rem;
              height: 4rem;
              object-fit: cover;
              border-radius: 50%;
          }
      }
      .header-right {
        display: flex;
        gap: 2rem;
        
        li {
          display: flex;
          align-items: center;
          gap: .5rem;
          cursor: pointer;
        }
        
    }
}